.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___right div,
.fighter-preview___left div {
  align-self: center;
  background-color: #fff;
  padding: 0 40px;
  border-radius: 20px;
}

.fighter-preview___right img,
.fighter-preview___left img {
  max-height: 300px;
}
